{% extends 'base.html' %} {% block content %}
<div class="container">
  <div class="card mt-4 shadow-lg">
    <img
      class="card-img-top d-block mx-auto rounded img-fluid"
      src="{{ event.image.url }}"
      alt="{{ event.name }} Image"
    />
    <div class="card-body">
      <div class="card-subtitle mb-4">
        <h4 class="mb-0">{{ event.name }}</h4>
        <p class="mb-0">{{ event.date_pretty }}</p>
        <a href="{{ event.event_website }}">Event Site & Tickets</a>
      </div>
      <p>{{ event.description | safe }}</p>
    </div>
  </div>
</div>
{% endblock %}
