{% extends 'base.html' %}
{% block title %}Events{% endblock %}
{% block content %}
<div class="container">
  <h1 class="text-center">Events</h1>

  {% if not events %}
  <h2 class="text-center">There are no scheduled events at the moment!</h2>
  {% endif %}

  <div class="row m-2">
    {% for event in events %}
    <a class="col-lg-6 col-sm-12 mb-4" href="{% url 'event' event.id %}">
      <div class="card shadow-sm m-2 h-100">
        <img
          src="{{ event.image.url }}"
          alt="{{event.name}} Image"
          class="card-img-top img-fluid"
        />
        <div class="card-body">
          <h1>{{event.name}}</h1>
          <p>
            {{event.date_pretty}}
          </p>
          <p>More Info</p>
        </div>
      </div>
    </a>
    {% endfor %}
  </div>
</div>
{% endblock %}
