{% extends 'base.html' %}
{% block title %}Recipients{% endblock %}
{% block content %}
<div class="container">
  <h1 class="text-center">Recipients</h1>

  {% if not recipients %}
  <h2 class="text-center">Oh no! Recipients are missing!</h2>
  {% else %}
  <div class="d-flex flex-wrap justify-content-sm-center">
    {% for person in recipients %}
    <div class="card shadow-sm m-2" style="width: 100%">
      <img
        class="mt-1 card-img-top d-block mx-auto img-fluid rounded"
        style="width: 50%;"
        src="{{ person.image.url }}"
        alt="{{ person.name }} Image"
      />
      <div class="card-body">
        <h1 class="card-title text-center">{{ person.name }}</h1>
        <p style="font-size: 1.1rem;" class="card-text">
          {{ person.text | safe }}
        </p>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endif %} {% endblock %}
